# Source
https://earthquake.usgs.gov/earthquakes/search/

# Data
https://raw.githubusercontent.com/carmengg/eds220-hwk-1/main/data/earthquake_data.csv

# Brainstorming
# Steps

1) Import data and geospatial data
2) Clean and filter
3) Change data lat/long to geospatial
4) 





1) Year for 2014 (all)
2) Mag of 6.5 or greater - Filter
3)

In [25]:
#import libraries
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import geopandas as gpd

In [26]:
data = pd.read_csv('https://raw.githubusercontent.com/carmengg/eds220-hwk-1/main/data/earthquake_data.csv')
data

,time,latitude,longitude,depth,mag,id,place,type
0,2014-01-31 23:53:37.000,60.252000,-152.708100,90.20,1.10,ak11155107,"26km S of Redoubt Volcano, Alaska",earthquake
1,2014-01-31 23:48:35.452,37.070300,-115.130900,0.00,1.33,nn00436847,"32km S of Alamo, Nevada",earthquake
2,2014-01-31 23:47:24.000,64.671700,-149.252800,7.10,1.30,ak11151142,"12km NNW of North Nenana, Alaska",earthquake
3,2014-01-31 23:30:54.000,63.188700,-148.957500,96.50,0.80,ak11151135,"22km S of Cantwell, Alaska",earthquake
4,2014-01-31 23:30:52.210,32.616833,-115.692500,10.59,1.34,ci37171541,"10km WNW of Progreso, Mexico",earthquake
...,...,...,...,...,...,...,...,...
120103,2014-12-01 00:10:16.000,60.963900,-146.762900,14.80,3.80,ak11453391,"29km SW of Valdez, Alaska",earthquake
120104,2014-12-01 00:09:39.000,58.869100,-154.415900,108.40,2.40,ak11453395,"102km SSE of Old Iliamna, Alaska",earthquake
120105,2014-12-01 00:09:25.350,38.843498,-122.825836,2.37,0.43,nc72358451,"9km WNW of Cobb, California",earthquake
120106,2014-12-01 00:05:54.000,65.152100,-148.992000,9.50,0.40,ak11453390,"57km NW of Ester, Alaska",earthquake
120107,2014-12-01 00:04:05.000,60.227200,-147.024500,2.50,1.60,ak11453389,"78km WSW of Cordova, Alaska",earthquake

In [ ]:
$

In [27]:
data.head()

,time,latitude,longitude,depth,mag,id,place,type
0,2014-01-31 23:53:37.000,60.252000,-152.7081,90.20,1.10,ak11155107,"26km S of Redoubt Volcano, Alaska",earthquake
1,2014-01-31 23:48:35.452,37.070300,-115.1309,0.00,1.33,nn00436847,"32km S of Alamo, Nevada",earthquake
2,2014-01-31 23:47:24.000,64.671700,-149.2528,7.10,1.30,ak11151142,"12km NNW of North Nenana, Alaska",earthquake
3,2014-01-31 23:30:54.000,63.188700,-148.9575,96.50,0.80,ak11151135,"22km S of Cantwell, Alaska",earthquake
4,2014-01-31 23:30:52.210,32.616833,-115.6925,10.59,1.34,ci37171541,"10km WNW of Progreso, Mexico",earthquake

In [28]:
mag65 = data[data['mag'] >= 6.5]
#mag65

In [29]:
shape_data = os.path.join('data','ne_110m_admin_0_countries.shp')

shape_data = gpd.read_file(shape_data)

In [30]:
shape_data

,featurecla,scalerank,LABELRANK,SOVEREIGNT,SOV_A3,ADM0_DIF,LEVEL,TYPE,TLC,ADMIN,...,FCLASS_TR,FCLASS_ID,FCLASS_PL,FCLASS_GR,FCLASS_IT,FCLASS_NL,FCLASS_SE,FCLASS_BD,FCLASS_UA,geometry
0,Admin-0 country,1,6,Fiji,FJI,0,2,Sovereign country,1,Fiji,...,None,None,None,None,None,None,None,None,None,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000..."
1,Admin-0 country,1,3,United Republic of Tanzania,TZA,0,2,Sovereign country,1,United Republic of Tanzania,...,None,None,None,None,None,None,None,None,None,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982..."
2,Admin-0 country,1,7,Western Sahara,SAH,0,2,Indeterminate,1,Western Sahara,...,Unrecognized,Unrecognized,Unrecognized,None,None,Unrecognized,None,None,None,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948..."
3,Admin-0 country,1,2,Canada,CAN,0,2,Sovereign country,1,Canada,...,None,None,None,None,None,None,None,None,None,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742..."
4,Admin-0 country,1,2,United States of America,US1,1,2,Country,1,United States of America,...,None,None,None,None,None,None,None,None,None,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,Admin-0 country,1,5,Republic of Serbia,SRB,0,2,Sovereign country,1,Republic of Serbia,...,None,None,None,None,None,None,None,None,None,"POLYGON ((18.82982 45.90887, 18.82984 45.90888..."
173,Admin-0 country,1,6,Montenegro,MNE,0,2,Sovereign country,1,Montenegro,...,None,None,None,None,None,None,None,None,None,"POLYGON ((20.07070 42.58863, 19.80161 42.50009..."
174,Admin-0 country,1,6,Kosovo,KOS,0,2,Disputed,1,Kosovo,...,Admin-0 country,Unrecognized,Admin-0 country,Unrecognized,Admin-0 country,Admin-0 country,Admin-0 country,Admin-0 country,Unrecognized,"POLYGON ((20.59025 41.85541, 20.52295 42.21787..."
175,Admin-0 country,1,5,Trinidad and Tobago,TTO,0,2,Sovereign country,1,Trinidad and Tobago,...,None,None,None,None,None,None,None,None,None,"POLYGON ((-61.68000 10.76000, -61.10500 10.890..."
176,Admin-0 country,1,3,South Sudan,SDS,0,2,Sovereign country,1,South Sudan,...,None,None,None,None,None,None,None,None,None,"POLYGON ((30.83385 3.50917, 29.95350 4.17370, ..."

In [43]:
mag65.geom = gpd.points_from_xy(mag65.longitude,mag65.latitude)
geom

/tmp/ipykernel_1177139/2575780579.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  mag65.geom = gpd.points_from_xy(mag65.longitude,mag65.latitude)

<GeometryArray>
[ <POINT (167.249 -13.863)>,   <POINT (-58.927 14.668)>,
    <POINT (82.586 35.905)>,  <POINT (167.372 -15.069)>,
 <POINT (-177.881 -32.908)>,  <POINT (-70.702 -19.981)>,
  <POINT (-125.134 40.829)>,   <POINT (127.367 27.431)>,
  <POINT (-127.732 49.639)>,   <POINT (155.024 -6.755)>,
   <POINT (155.087 -6.656)>,  <POINT (-100.972 17.397)>,
    <POINT (8.722 -53.497)>,  <POINT (162.052 -11.128)>,
  <POINT (162.051 -11.463)>,   <POINT (162.148 -11.27)>,
   <POINT (-85.878 11.642)>,    <POINT (154.95 -6.788)>,
   <POINT (155.048 -6.586)>,  <POINT (-70.493 -20.571)>,
  <POINT (-70.576 -20.311)>,  <POINT (-70.946 -19.893)>,
   <POINT (-70.769 -19.61)>,    <POINT (25.389 40.289)>,
     <POINT (-82.304 7.21)>,    <POINT (-114.8 -49.94)>,
  <POINT (179.086 -24.611)>,  <POINT (170.355 -21.454)>,
  <POINT (-175.51 -14.983)>,   <POINT (-28.367 -55.47)>,
   <POINT (178.735 51.849)>, <POINT (-177.607 -29.941)>,
 <POINT (-177.516 -29.938)>, <POINT (-177.725 -29.977)>,
   <POINT (91.092 -10.123)>,   <POINT (-178.4 -19.802)>,
   <POINT (142.452 37.005)>,   <POINT (-92.461 14.724)>,
    <POINT (152.808 -6.23)>,  <POINT (-73.571 -14.598)>,
      <POINT (146.169 0.8)>,   <POINT (144.429 13.764)>,
   <POINT (-88.122 12.526)>, <POINT (-110.865 -32.095)>,
 <POINT (-110.811 -32.108)>,     <POINT (126.575 1.96)>,
      <POINT (127.056 2.3)>,  <POINT (179.662 -37.648)>,
    <POINT (126.522 1.893)>,   <POINT (148.232 -5.987)>,
  <POINT (-177.759 -19.69)>,     <POINT (-82.686 7.94)>,
    <POINT (154.46 -6.511)>,    <POINT (123.126 6.157)>]
Length: 54, dtype: geometry

In [45]:
mag65.head()

,time,latitude,longitude,depth,mag,id,place,type
9062,2014-01-01 16:03:29.000,-13.8633,167.2490,187.00,6.5,usc000lvb5,"32km W of Sola, Vanuatu",earthquake
12142,2014-02-18 09:27:13.120,14.6682,-58.9272,14.83,6.5,usc000mskt,"172km NNE of Bathsheba, Barbados",earthquake
14025,2014-02-12 09:19:49.060,35.9053,82.5864,10.00,6.9,usc000mnvj,"272km ESE of Hotan, China",earthquake
15979,2014-02-07 08:40:13.550,-15.0691,167.3721,122.00,6.5,usc000mjye,"34km E of Port-Olry, Vanuatu",earthquake
17606,2014-02-02 09:26:37.820,-32.9076,-177.8806,44.26,6.5,usc000mfm0,"189km SSE of L'Esperance Rock, New Zealand",earthquake

In [41]:
mag65.geom.plt()

AttributeError: 'GeometryArray' object has no attribute 'plt'